<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Simple Url Shortener</title>
    <link rel="shortcut icon" href="favicon.svg" type="image/svg">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header>
    <div>
        <a class="header-link header-brand" asp-area="" asp-controller="Home" asp-action="Index">Simple Url Shortener</a>
    </div>
</header>
<main role="main">
    @RenderBody()
</main>
<footer>
    <div>&copy; 2025 - Simple Url Shortener</div>
</footer>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>