@{
    ViewData["Title"] = "Error 500";
}
<div class="error-container">
    <p id="code">500</p>
    <div id="description">
        <h2>Error</h2>
        <h3>
            The server encountered an unexpected condition that prevented it from fulfilling the request.<br/>
            Please go to the <a asp-area="" asp-controller="Home" asp-action="Index">main page</a> of the website.
        </h3>
    </div>
</div>