@{
    ViewData["Title"] = "Error 404";
}
<div class="error-container">
    <p id="code">404</p>
    <div id="description">
        <h2>Error</h2>
        <h3>
            The page you accessed has been deleted or moved.<br/>
            Please go to the <a asp-area="" asp-controller="Home" asp-action="Index">main page</a> of the website.
        </h3>
    </div>
</div>