@model UrlViewModel

@{
    ViewData["Title"] = "Result Page";
}

<div>
    <p class="main-text">Create shorter URLs with <span class="brand">Simple Url Shortener</span></p>
    <p class="additional-text">
        Create concise, shareable URLs that <span class="bolder">boost</span><br/>
        your online presence <span class="bolder">and simplify</span> your digital sharing experience.
    </p>
    <div class="input-form">
        <input class="input input-text" type="text" value="@Model.ShortenedUrl" disabled="disabled"/>
        <button class="input button" type="button">Copy</button>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/Home/Result.js" asp-append-version="true"></script>
