@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p class="main-text">Create shorter URLs with <span class="brand">Simple Url Shortener</span></p>
    <p class="additional-text">
        Create concise, shareable URLs that <span class="bolder">boost</span><br/>
        your online presence <span class="bolder">and simplify</span> your digital sharing experience.
    </p>
    <form class="input-form" method="get" asp-action="CreateCode">
        <input class="input input-text" type="text" name="u" id="u" placeholder="Enter your long URL" />
        <input class="input button" type="submit" value="Shorten" />
    </form>
</div>